*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
header{
    padding: 20px;
    min-height: 200px;
    display: flex;
}
header h1{
    font-family:"Dela Gothic One", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    line-height: 0.9; 
}
nav{
    display: flex;
    margin-left: auto;
}
ul {
    display: flex;
    list-style: none;
    gap:50px;
    align-items: center;
    
}
a{
    color:black;
    text-decoration: none; 
    font-family: "Manrope";
    font-size: 2.3rem;
    font-weight: bold;
}
.linha-azul{
   background-color: rgba(0, 42, 126, 1);
   height: 7px;
   border: none;
}
.linha-branco{
    background-color: white;
    height: 6px;
     border: none;
}
.linha-vermelho{
    background-color: rgba(205, 16, 38, 1);
    height:12px;
    border: none;
}
#card-introducao{
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
    align-items: center;
    display: flex;
    max-width: 90%;
}
#card-introducao{
    font-size: 2rem;
    font-family: "Syne";
    font-weight: bold;
}
.topo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.cards{
    width:100%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items:start; 
    gap: 30px;
    padding: 50px;
}







.card{
    width: 100%;
    overflow: hidden;
}

.banner{
    position: relative;
    height: 100%;
    cursor: pointer;
}

.banner img{
    width:100%;
    height:400px;
    object-fit: cover;
    /* display:block; */
     filter:brightness(40%);
}

.banner h2{
    position:absolute;
    bottom:15px;
    left:15px;
    color:white;
    font-size:35px;
}

.conteudo{
    color:white;
    max-height:0;
    overflow:hidden;
    transition:.7s ease-out;
    padding:0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo p{
    font-size: 1.8rem;
    font-family: "Syne";
    max-width: 700px;
}
.conteudo h4{
    font-size: 2.4rem;
    font-family: "Syne";
    font-weight: 500;
    margin-top: 30px;
}
.card h2{
    font-size: 5rem;
    font-family: "Syne";
    font-weight: bold;
}

.card:hover .conteudo{
    max-height:1000px;
    padding-bottom: 50px;
   
}
#puravida{
    background:rgba(20, 16, 4, 1) ;
}
#borucas{
   background: black;
}
#ticos{
    background: rgba(57, 60, 62, 1) ;
}
#festivais{
    background:rgba(127, 96, 28, 1) ;
}
.coluna{
    display:flex;
    flex-direction:column;
    gap:55px;

}
footer{
    background-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(119, 119, 119);
    margin-top: 70px;
    padding: 30px 30px 10px;
    
  
    
}
#footer-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 40px;
    font-size: 1.5rem;
    gap:30px;

}
#footer-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8px 
}
footer hr{
    background-color: rgb(70, 68, 68);
    border: none;
    height: 5px;

}
#contatos{
    gap:17px;
    display: flex;
    justify-content:space-between;
}
#contatos img{
    height:50px;
    width: auto;
    filter: brightness(40%);
}
#logo{
    height: 100px;
}
#footer-direita{
    display: flex;
    flex-direction: column;
    gap:8px;
    font-family: "Inter";
}
#copyright{
display: flex;
justify-content:center;
align-items: flex-end;

}
#copyright p{
    font-family: "Inter";
}
#copyright #pure{
    font-family: "Michroma";
    font-weight: lighter;
    font-size: 23px;
}
#copyright #coast{
    font-family: "Syne";
    font-size: 26px;
}